<style>
input {
  border:1px solid #ccc;
  padding:8px;
  font-size:14px;
  width:100%;
  }

.submit {
  width:110px;
  background-color:#FF6;
  padding:3px;
  border:1px solid #FC0;
  margin-top:15px;
  margin-bottom: 15px;
}
.field {
  width: 100%;
  margin-bottom: 20px;
}
.nav-li>li>a {
    position: relative;
    display: block;
    padding: 10px 44px;
}
.nav-tabs {
      margin-left: -63px;
}
.table {
      border: 2px solid #ddd;
}
.table>tbody>tr>td{
  padding: 11px!important;
}
.glyphicon {
  margin-right: 15px;
}
.badge {
  margin-left: 10px;
}
.table>thead>tr>th {
  text-align: center;
  padding: 3px;
  font-size: 19px;
  background: #ddd;
  color: #777;
}
a {
  text-decoration: none!important;
  color: #333;
}
a:hover {
    text-decoration: none!important;
    color: #333;
}
a:focus {
  text-decoration: none!important;
  color: #333;
}
</style>
<div class="container">
  <div class="two column">
      <table class="table">
        <thead>
            <tr>
              <th>Oh! Seems like you don't belong in here</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="/home" style="color:#a94442">
                <div class="alert alert-danger" id="error-msg">
                  <strong>OOPS! </strong>You've reached to the end of the universe. Return before it explodes. Click here.
                </div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="one column" style="position:relative">
    <table class="table table-hover">
      <thead>
          <tr>
            <th>The Hidden Cupboard</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="glyphicon glyphicon-hand-right"></span>Don't enter the places where you don't belong. <br><br>
            <span class="glyphicon glyphicon-hand-right"></span>We're working hard to not show you this page.<br><br>
            <span class="glyphicon glyphicon-hand-right"></span>Extra brownie points for viewers of this page. <br><br>
            <span class="glyphicon glyphicon-hand-right"></span>Be happy. <br><br>
            <span class="glyphicon glyphicon-hand-right"></span>Developers test their own code. <br><br>
            <span class="glyphicon glyphicon-hand-right"></span>I am not the one to blame. It was you who wanted this. <br><br>
            <span class="glyphicon glyphicon-hand-right"></span>Code or search for valid cotent. Duh!<br><br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
