<style>
.nav-li>li>a {
    position: relative;
    display: block;
    padding: 10px 44px;
}
.nav-tabs {
      margin-left: -63px;
}
.table {
      border: 2px solid #ddd;

}
.table>tbody>tr>td{
  padding: 11px;
}
.glyphicon {
  margin-right: 15px;
}
.badge {
  margin-left: 10px;
}
.table>thead>tr>th {
  text-align: center;
  padding: 3px;
  font-size: 19px;
  background: #ddd;
  color: #777;
}
.post-content {
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #ddd;
}
</style>



<div class="container">
    <div class="two column">
        <table class="table">
          <thead>
              <tr>
                <th>Things you can do with softard(v1.0)</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-th-list"></span>1. Create your post for a specific platform.</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-th-list"></span>2. View all posts. </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-th-list"></span>3. Raise an issue if you have any. </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-th-list"></span>4. Share links in the comment sections.</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-th-list"></span>5. Delete your posts.</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-th-list"></span>6. Give valid workables and patches for any errors or issues raised.</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <th>Issues</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-flash"></span>No current open discussions.</td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
              <tr>
                <th>Discussion</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-console"></span>No current open issues.</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="one column" style="position:relative">
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Quick Links</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>You can create your own posts. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Raise an issue or ask a question.<br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Active developers get brownies from us. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Something wrong with us? Report in contact page. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Add suitable tags to make your work visible to more and more developers. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Don't forget to publish your work. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Find, Create, Share. <br><br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
