<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Softard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control form-search" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Anurag</a></li>
        <li><a href="#">Dash</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br>

<div>
<ul class="nav nav-tabs nav-tabs-center">
  <li role="presentation"><a href="#profile">Profile</a></li>
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</div>

<form action="/login/authenticate" method="POST">
  <div class="input-field col s12">
    <input type="text"  name="username" id="username" placeholder="    Your username here *">
  </div>
  <div class="input-field col s12">
    <input type="password"  name="password" id="password" placeholder="    Your Password here *">
  </div>
  <div class="input-field col s12">
    <p style="text-align:center"><input type="submit" class="btn btn-submit" value="Log In"></p>
  </div>
  <!-- <div class="input-field col s12 ">
   <input type="text" name="email" id="email" placeholder="    Your Message here *">
 </div> -->
</form>

<div class="container">
    <div class="two column">
      <ul class="getting-started">
          <li>
              <form action="file/upload" method="post" enctype="multipart/form-data">
                  <label>Some other metadata</label>
                  <input type="text" name="foo" placeholder="some other metadata"/>
                  <br/>
                  <label>Please upload your avatar:</label>
                  <input type="file" name="avatar"/>
                  <br/>
                  <br/>
                  <input type="submit"/>
                  <blockquote>note that text parameters <strong>must come before</strong> file parameters in the form!</blockquote>
              </form>
          </li>
      </ul>
    </div>
    <div class="one column" style="position:relative">
    Right content
    </div>
</div>
