<style>
.form-control {
  width: 80%;
}
.complain-btn {
  margin-bottom: 10px;
}
.query {
  width: 80%!important;
}
a {
  text-decoration: none;
  color: #333;
}
</style>
<div class="container">
  <h2>Contact Softard</h2>
  <div class="divider-border"></div>
  <div class="two column">
    <h3>Got any queries?</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <% if(req.session.authenticated) {%>
        <input type="text" class="form-control" id="user-name" name="user-name" value=<%= req.session.User.name %>>
        <% } else { %>
        <input type="text" class="form-control" id="user-name" name="user-name" placeholder="Your name">
        <% } %>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <% if(req.session.authenticated) {%>
        <input type="email" class="form-control" id="user-email" name="user-email" value=<%= req.session.User.email %>>
        <% } else { %>
        <input type="email" class="form-control" id="user-email" name="user-email" placeholder="Your email">
        <% } %>
      </div>
      <div class="form-group">
          <label for="question">Your question</label>
        <textarea class="form-control query" id="query" name="query" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-default complain-btn" id="send-complain">Submit</button>
      <div class="alert alert-success" id="success-msg" style="display:none">
        <strong>Voila!</strong> We have received your request.
      </div>
      <div class="alert alert-danger" id="error-msg" style="display:none">
        <strong>OOPS!</strong> We are facing some technical difficulties. Please try again after some time.
      </div>
  </div>
  <div class="one column">
    <div class="bug-report">
      <h3>Found a Bug?</h3>
        <h4>Mail us  <span style="color:red">bug@softard.com</span></h4>
        <br><br><br>
        <p>If your query is not yet resolved mail us : <span style="color:blue">help@softard.com.</span>We will make sure someone gets back to you in 24 hours.</p>
    </div>
  </div>
</div>
