<script src="/js/epiceditor.js"></script>
<style>

  input {
    border:1px solid #ccc;
    padding:8px;
    font-size:14px;
    width:100%;
    }

  .submit {
    width:110px;
    background-color:#FF6;
    padding:3px;
    border:1px solid #FC0;
    margin-top:15px;
    margin-bottom: 15px;
  }
  .field {
    width: 100%;
    margin-bottom: 20px;
  }
  .nav-li>li>a {
      position: relative;
      display: block;
      padding: 10px 44px;
  }
  .nav-tabs {
        margin-left: -63px;
  }
  .table {
        border: 2px solid #ddd;
  }
  .table>tbody>tr>td{
    padding: 11px!important;
  }
  .glyphicon {
    margin-right: 15px;
  }
  .badge {
    margin-left: 10px;
  }
  .table>thead>tr>th {
    text-align: center;
    padding: 3px;
    font-size: 19px;
    background: #ddd;
    color: #777;
  }
  a {
    text-decoration: none!important;
    color: #333;
  }
  a:hover {
      text-decoration: none!important;
      color: #333;
  }
  a:focus {
    text-decoration: none!important;
    color: #333;
  }
</style>
<div class="container">
<% if(req.session.authenticated) {%>
  <div class="two column">
      <table class="table" id = "post-published">
        <thead>
            <tr>
              <th>Create a post</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-group">
                <label for="title">Title <span style="color:grey">(Ex. How to install NodeJs)</span></label>
                <input type="text" class="form-control" id="post-title" name="post-title" placeholder="How to ?">
              </div>
              <div class="form-group">
                <label for="short-desc">Short Description</label>
                <input type="text" class="form-control" id="post-short" name="post-short" placeholder="What is NodeJS etc.">
              </div>
              <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="post-tags" name="post-tags" placeholder="Tags separated by comma">
              </div>
              <div class="form-group">
                <label for="sel1">Choose Platform:</label>
                <select class="form-control" id="sel1">
                  <option value="windows">Windows</option>
                  <option value="linux">Linux</option>
                  <option value="osx">OSX</option>
                </select>
              </div>
              <div class="form-group">
                <label for="editor">Write the steps:</label>
                <div class="inputs" style="border:2px solid #ddd;min-height:300px;">
                  <div id="epiceditor">
                  </div>
                </div>
              </div>
                <input name="submit" type="button" class="submit" value="Publish" />
                <div class="alert alert-danger" id="error-msg" style="display:none">
                  <strong>OOPS!</strong> We are facing some technical difficulties. Please try again after some time.
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="/viewall">
        <div class="alert alert-success" id="success-msg" style="display:none">
          <strong>Voila!</strong> We have successfully published your post. Visit dashboard to view or edit your post.
        </div>
      </a>
    </div>
    <% } else { %>
      <div class="two column">
             <table class="table">
               <thead>
                   <tr>
                     <th>We've got a small problem</th>
                   </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>
                     <div class="alert alert-danger" data-toggle = "modal" data-target="#loginModal" id="error-msg" style="cursor:pointer">
                       <strong>OOPS!</strong> Please login or signup before creating the post.
                     </div>
                   </td>
                 </tr>
               </tbody>
             </table>
         </div>
    <% } %>
    <div class="one column" style="position:relative">
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Quick Tips for Writing Steps</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>This is a Markup Editor. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>It supports HTML, CSS, Javascript, etc.<br><br>
              <span class="glyphicon glyphicon-hand-right"></span>To write a code simply give '4 spaces' <code>var a = 0;</code> <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>You can preview or write in full screen with live preview. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>All the markdowns are supported by this editor. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Don't worry about saving the content. We will automatically save it for you. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>You can add any number of steps as you need. <br><br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<script type="text/javascript">
  var opts = {
    container: 'epiceditor',
    textarea: null,
    basePath: 'epiceditor',
    clientSideStorage: true,
    localStorageName: 'epiceditor',
    useNativeFullscreen: true,
    parser: marked,
    file: {
      name: 'epiceditor',
      defaultContent: '',
      autoSave: 100
    },
    theme: {
      base: '/themes/base/epiceditor.css',
      preview: '/themes/preview/preview-dark.css',
      editor: '/themes/editor/epic-dark.css'
    },
    button: {
      preview: true,
      fullscreen: true,
      bar: "auto"
    },
    focusOnLoad: false,
    shortcut: {
      modifier: 18,
      fullscreen: 70,
      preview: 80
    },
    string: {
      togglePreview: 'Toggle Preview Mode',
      toggleEdit: 'Toggle Edit Mode',
      toggleFullscreen: 'Enter Fullscreen'
    },
    autogrow: true
  }
  var editor = new EpicEditor(opts).load();
  console.log(editor.getElement('editor').body.innerHTML);
  editor.getElement('editor').body.innerHTML = "#Hello there.... Start typing here";
  var files = editor.getFiles();
  for (x in files) {
    console.log('File: ' + x); //Returns the name of each file
  };
  // editor.preview();
  var code = editor.getElement('editor').body.innerHTML;
  console.log(code);
</script>
