<ul class="getting-started">
    <li>
        <form action="file/upload" method="post" enctype="multipart/form-data">
            <label>Some other metadata</label>
            <input type="text" name="foo" placeholder="some other metadata"/>
            <br/>
            <label>Please upload your avatar:</label>
            <input type="file" name="avatar"/>
            <br/>
            <br/>
            <input type="submit"/>
            <blockquote>note that text parameters <strong>must come before</strong> file parameters in the form!</blockquote>
        </form>
    </li>
</ul>
