<style>
.nav-li>li>a {
    position: relative;
    display: block;
    padding: 10px 44px;
}
.nav-tabs {
      margin-left: -63px;
}
.table {
      border: 2px solid #ddd;
}
.table>tbody>tr>td{
  padding: 11px!important;
}
.glyphicon {
  margin-right: 15px;
}
.badge {
  margin-left: 10px;
}
.table>thead>tr>th {
  text-align: center;
  padding: 3px;
  font-size: 19px;
  background: #ddd;
  color: #777;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
    text-decoration: none;
    color: #333;
}
a:focus {
  text-decoration: none;
  color: #333;
}
</style>
<div class="container">
  <div class="one column">
    <table class="table table-hover">
      <thead>
          <tr>
            <th>Settings</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href= "#" id="profile-settings">
              <div>
                <span class="glyphicon glyphicon-cog"></span>
                <span>Profile Settings</span>
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href= "#" id="account-settings">
              <div>
                <span class="glyphicon glyphicon-cog"></span>
                <span>Account Settings</span>
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href= "#" id="delete-account">
              <div>
                <span class="glyphicon glyphicon-cog"></span>
                <span>Delete Account</span>
              </div>
            </a>
          </td>
        </tr>
        <!-- <tr>
          <td><span class="glyphicon glyphicon-cog"></span>Followers </span></td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="two column">
    <div id="user-settings" class="user-settings">
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Boring Tips (Not worth to spend time)</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>You can edit your profile, change passwords by clicking on any of the settings. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Great developers change their passwords once in every three months.<br><br>
              <span class="glyphicon glyphicon-hand-right"></span>You have an option to delete your user account. But why would anyone do it. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Update your profile to get brownie points. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Don't forget to add your professional content in the about you section. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>We thank you for joining us.  <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>You just visited settings page. I've got a surprise for you. <br><br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
